<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :movie_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :movie_description %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.number_field :duration, id: :movie_duration %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.all, :id, :name, :selected => @movie.category_id  %>
  </div>

  <div class="field">
    <%= form.label :director_id %>
    <%= form.collection_select :director_id, Director.all, :id, :full_name, :selected => @movie.director_id  %>
  </div>

  <div class="field">
    <%= form.label :release_date %>
    <%= form.datetime_select :release_date, id: :movie_release_date %>
  </div>

  <div class="field">
    <%= form.fields_for :address_attributes do |add| %>
      <%= add.label :street %>
      <%= add.text_field :street %>
      <%= add.label :apartment %>
      <%= add.check_box :apartment %>
      <%= add.label :description %>
      <%= add.text_field :description %>
      <%= add.label :zipcode %>
      <%= add.text_field :zipcode %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
