<h1>New Person</h1>

<%= form_tag(:controller => "persons", :action => "create") do %>
  <%= label_tag :first_name %>  
  <%= text_field_tag(:first_name) %>
  <%= label_tag :last_name %>  
  <%= text_field_tag(:last_name) %>
  <%= label_tag :description %>  
  <%= text_field_tag(:description) %>
  <%= label_tag :birth_date %>  
  <%= date_field_tag(:birth_date)  %>
  <p>
  <%= label_tag :actor %>  
  <%= radio_button_tag(:person_type, "actor") %>
  <%= label_tag :director %> 
  <%= radio_button_tag(:person_type, "director") %>
  </p>
  <p>
  <%= submit_tag "Submit"%>
  </p>  
<% end %>  

<%= link_to 'Back', persons_path %>
